#DarkModeButton {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.59);
}

#DarkModeButton:hover {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

#LightModeButton {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.78);
    background-color: rgba(0, 0, 0, 0);
}

#LightModeButton:hover {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}
